* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
    font-size: 16px;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

img {
    width: 90%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 70px;
}

#logo {
    width: 110px;
}

.navigation {
    display: flex;
    gap: 20px;
}

.navigation a {
    color: var(--very-dark-blue);
    text-decoration: none;
    font-weight: 500;
    width: 55px;
    text-align: center;
}

.navigation a:hover {
    font-weight: 700;
}

.first-content, .second-content, .third-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 40px;
}

.first-content img {
    width: 90%;
}

.first-content h1 {
    margin: 30px 0;
    text-align: center;
    color: var(--very-dark-blue);
    font-size: 1.8rem;
    font-weight: 800;
}

.first-content p {
    text-align: center;
    line-height: 1.7;
    margin-bottom: 30px;
    color: var(--desaturated-blue);
    font-weight: 700;
}

#newsletter-one {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hide {
    display: none;
}

input[type="email"] {
    width: 100%;
    height: 45px;
    border: 1px solid var(--very-dark-blue);
    padding-left: 20px;
    font-family: "Raleway", sans-serif;
}

.email-container input[type="email"]::placeholder {
    color: var(--light-gray);
}

.invalid {
    border: 1px solid #ff9a9a !important;
}

.error {
    color: #ff9a9a;
    font-size: 0.9rem;
    margin-top: 10px;
}

input[type="submit"] {
    height: 50px;
    background-color: var(--bright-blue);
    outline: none;
    border: none;
    color: var(--light-grayish-blue);
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.second-content {
    background-color: var(--light-grayish-blue);
    margin-top: 100px;
    position: relative;
}

.second-content h2 {
    color: var(--very-dark-blue);
    text-align: center;
    margin: 70px 0 30px;
}

.second-content::before {
    content: "";
    background: url(../images/bg-curve-mobile.svg);
    width: 100vw;
    height: 80px;
    background-size: cover;
    position: absolute;
    top: -80px;
}

.second-content p {
    margin-bottom: 20px;
    color: var(--desaturated-blue);
    line-height: 1.7;
    font-weight: 500;
}

.cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    border-bottom: 1px solid var(--moderate-cyan);
    margin: 40px auto 0;
    cursor: pointer;
}

.cta-btn:hover {
    border-color: #53e1c9;
}

.cta-btn a {
    color: var(--moderate-cyan);
    text-decoration: none;
}

.cta-btn a:hover {
    color: #53e1c9;
}

.arrow-left {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.reviews-container {
    padding-top: 20px;
    margin-top: 10px;
}

.review {
    width: 100%;
    background-color: #fff;
    padding: 40px;
}

.quote {
    width: 20px;
    height: 20px;
}

.review > p {
    margin: 20px 0;
    color: var(--very-dark-blue);
    line-height: 1.7;
    font-weight: 600;
}

.author-review {
    display: flex;
    gap: 20px;
}

.author-review img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.author-info h3 {
    color: var(--very-dark-blue);
    font-size: 1rem;
    font-weight: 800;
}

.author-info p {
    margin: 5px 0 0 0;
    color: var(--desaturated-blue);
    font-size: 0.8rem;
    font-weight:  600;
}

.fourth-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--desaturated-blue);
    padding: 40px;
    height: 70vh;
}

.fourth-content h2 {
    color: var(--light-grayish-blue);
    margin-bottom: 20px;
    text-align: center;
}

.fourth-content p {
    color: var(--light-gray);
    line-height: 1.7;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
}

#newsletter-two {
    width: 90%;
}

#newsletter-two input[type="email"] {
    border: none;
    margin-bottom: 10px;
    position: relative;
}

#newsletter-two .email-container .error {
    position: static;
    margin-bottom: 10px;
    color: var(--light-grayish-blue);
}

footer {
    background-color: var(--very-dark-blue);
    padding: 60px 40px;
    width: 100%;
}

.logo-footer {
    width: 180px;
}

.phone-icon, .mail-icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.footer-container ul {
    margin-top: 30px;
    padding: 0;
}

.footer-container ul li {
    list-style-type: none;
    padding: 5px 0;
    color: var(--light-gray);
}

.footer-container ul li a {
    color: var(--light-gray);
    text-decoration: none;
}

.footer-container ul li a:hover {
    color: var(--desaturated-blue);
}

.social-icons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 15px;
}

.fa-brands {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 50%;
}

.fa-brands:hover {
    color: var(--desaturated-blue) !important;
    border-color: var(--desaturated-blue);
}

@media screen and (min-width:768px) {
    body {
        background-color: #fff;
    }
        
    header {
        display: flex; 
        flex-direction: column;
        width: 100%;
        align-items: center;
     }

     .header {
        width: 100%;
     }

     .navigation a {
         width: 70px;
     }

    .email-container {
        width: 100%;
        position: relative;
    }

    .email-container input[type="email"] {
        height: 50px;
    }

    #newsletter-one .email-container .error {
        position: absolute;
        bottom: -30px;
    }

    .container {
        width: 100%;
    }

    .first-content {
        flex-direction: row-reverse;
    }

    .first-content img {
        width: 50% !important;
    }

    .first-container .content-container {
        width: 50%;
    }

    .content-container h1 {
        text-align: start;
    }

    .content-container p {
        text-align: start;
    }

    .second-content {
        flex-direction: row-reverse;
        background-color: var(--light-grayish-blue);
        margin-top: 150px;
        position: relative;
    }

    .second-content::before {
        content: "";
        background: url(../images/bg-curve-desktop.svg);
        width: 100vw;
        height: 80px;
        background-size: cover;
        position: absolute;
        top: -80px;
    }

    .second-content h2 {
        text-align: start;
    }

    .second-content img {
        width: 50%;
    }

    .quote {
        width: 20px !important;
        height: 20px;
    }

    .review {
        width: 90%;
        box-shadow: 2px 2px 5px #ddd;
    }
    
    .author-review img {
        width: 30px;
        height: 30px;
    }

    .fourth-content h2 {
        text-align: start;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 0;
    }
    
    .footer-container {
        display: flex;
        justify-content: space-around;
        position: relative;
        width: 100%;
        height: 60vh;
        align-items: center;
        gap: 30px
    }

    .footer-container ul {
        position: relative;
    }

    .logo-footer {
        margin-top: -50px;
        position: absolute;
        width: 120px;
    }

    .footer-content:nth-child(3) {
        margin-top: -28px;
    }

    .footer-content:first-of-type {
        margin-top: -50px;
    }
}

@media screen and (min-width:1000px) {

    #newsletter-one {
        flex-direction: row;
    }

    .fourth-content {
        flex-direction: row;
    }

    .fourth-content {
        padding: 0 40px;
        width: 100%;
        gap: 40px;
    }

    .fourth-content .content {
        width: 50%;
    }

    .fourth-content .content p {
        text-align: start;
    }

    .cta-btn {
        margin: 0;
    }

    .review {
        width: 400px;
    }

    #newsletter-two {
        width: 45%;
    }

    #newsletter-two input[type="submit"] {
        width: 50%;
    }
}

@media screen and (min-width:1400px) {

    #newsletter-one {
        flex-direction: row;
    }

    .header {
        max-width: 1300px;
    }

    .first-content .content-container {
        width: 650px;
    }

    .first-content img {
        max-width: 650px;
    }

    .second-content .container-content {
        max-width: 650px;
    }

    .second-content img {
        max-width: 650px;;
    }

    .fourth-content {
        flex-direction: row;
        height: 400px;
    }

    .fourth-content .content {
        max-width: 650px;
    }

    #newsletter-two {
        max-width: 650px;
    }

    footer {
        height: 400px;
    }

    .footer-container {
        max-width: 1300px;
        height: auto;
    }
}